VITE_SCREENING_API_BASE_URL=/api/v1
VITE_SCREENING_POLL_INTERVAL_MS=750
VITE_SCREENING_JOB_TIMEOUT_MS=90000
VITE_AUTH_ENABLED=true
VITE_OIDC_AUTHORITY=https://cognito-idp.us-east-2.amazonaws.com/<user_pool_id>
VITE_OIDC_CLIENT_ID=<app_client_id>
VITE_OIDC_REDIRECT_URI=http://localhost:8080/
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/signed-out
VITE_OIDC_SCOPE=openid profile email
VITE_OIDC_IDLE_TIMEOUT_MS=900000
VITE_OIDC_CLEAR_SESSION_ON_CLOSE=true
VITE_ACTIMIZE_REVIEW_ALERT_URL=http://actimizeuat/
APP_DB_URL=
