APP_NAME=OFAC Screening Enterprise API
APP_VERSION=1.0.0
APP_DB_PATH=/data/screening.db
APP_DB_URL=
CORS_ALLOW_ORIGINS=*

AWS_REGION=us-east-1
AWS_SQS_QUEUE_NAME=screening-requests
AWS_ENDPOINT_URL=http://localstack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_UPLOAD_BUCKET=
AWS_S3_UPLOAD_PREFIX=screening-input
AWS_SNS_NOTIFICATIONS_ENABLED=false
AWS_SNS_SCHEDULE_TOPIC_PREFIX=ofac-screening-schedule

ACTIMIZE_BASE_URL=
ACTIMIZE_PROVIDER=prudential
ACTIMIZE_API_KEY=
ACTIMIZE_BEARER_TOKEN=
ACTIMIZE_TOKEN_URL=
ACTIMIZE_CLIENT_ID=
ACTIMIZE_CLIENT_SECRET=
ACTIMIZE_CLIENT_ASSERTION_TYPE=urn:ietf:params:oauth:client-assertion-type:jwt-bearer
ACTIMIZE_CLIENT_ASSERTION_ALGORITHM=RS256
ACTIMIZE_CLIENT_ASSERTION_AUDIENCE=
ACTIMIZE_CLIENT_ASSERTION_KID=
ACTIMIZE_CLIENT_ASSERTION_PRIVATE_KEY=
ACTIMIZE_CLIENT_ASSERTION_PRIVATE_KEY_B64=
ACTIMIZE_CLIENT_ASSERTION_PRIVATE_KEY_PATH=
ACTIMIZE_SCOPE=
ACTIMIZE_SOURCE_SYSTEM=ZIP
ACTIMIZE_REQUESTER_NAME=SCREENING_SYSTEM
ACTIMIZE_ALERT_REVIEW_URL=
ACTIMIZE_TIMEOUT_S=10

SCREENING_TPS=32
SCREENING_PARALLEL_MESSAGES=1
SCREENING_RESULT_LIMIT=5
SCREENING_ITEM_RETRY_MAX_ATTEMPTS=2
SCREENING_ITEM_RETRY_INITIAL_DELAY_S=3
SCREENING_ITEM_RETRY_MAX_DELAY_S=60
SCREENING_ITEM_VISIBILITY_TIMEOUT_S=300
WORKER_HEALTH_HOST=127.0.0.1
WORKER_HEALTH_PORT=8081
WORKER_HEALTHCHECK_TIMEOUT_S=5
WORKER_HEALTH_MAX_AGE_S=180
DAILY_SCREENING_TIMEZONE=America/New_York
DAILY_SCREENING_HOUR=0
DAILY_SCREENING_MINUTE=5
DAILY_SCREENING_CHECK_INTERVAL_S=30
AUDIT_ACCESS_LOG_ENABLED=true
AUDIT_EVENT_RETENTION_DAYS=3650
API_ACCESS_LOG_RETENTION_DAYS=365
EXTERNAL_API_ERROR_RETENTION_DAYS=365
OPERATIONAL_CLEANUP_INTERVAL_S=3600
HIGH_RISK_EXTERNAL_API_ERROR_WINDOW_MINUTES=15
HIGH_RISK_EXTERNAL_API_ERROR_THRESHOLD=10
AUTH_ENABLED=true
AUTH_ISSUER=http://localhost:8081/realms/screening-local
AUTH_JWKS_URL=http://localhost:8081/realms/screening-local/protocol/openid-connect/certs
AUTH_AUDIENCE=
AUTH_ALGORITHMS=RS256
# Cognito example:
# AUTH_ISSUER=https://cognito-idp.us-east-2.amazonaws.com/<user_pool_id>
# AUTH_JWKS_URL=https://cognito-idp.us-east-2.amazonaws.com/<user_pool_id>/.well-known/jwks.json
# AUTH_AUDIENCE=<app_client_id>
