--
-- PostgreSQL database dump
--

\restrict TYMRJ4y6j4d4zb9H4qf3havsgjbh7ecQm2mlPWRGOeoP0Mzrpw5dqt72vRaxVSX

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: SCHEMA "public"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA "public" IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = "heap";

--
-- Name: api_access_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."api_access_logs" (
    "access_id" bigint NOT NULL,
    "created_at" "text" NOT NULL,
    "correlation_id" "text",
    "request_method" "text" NOT NULL,
    "request_path" "text" NOT NULL,
    "query_string" "text",
    "status_code" integer NOT NULL,
    "duration_ms" integer NOT NULL,
    "client_ip" "text",
    "user_agent" "text",
    "user_id" "text",
    "user_name" "text",
    "auth_state" "text",
    "details_json" "text"
);


--
-- Name: api_access_logs_access_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."api_access_logs_access_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: api_access_logs_access_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."api_access_logs_access_id_seq" OWNED BY "public"."api_access_logs"."access_id";


--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."audit_events" (
    "event_id" bigint NOT NULL,
    "created_at" "text" NOT NULL,
    "user_id" "text",
    "user_name" "text",
    "action" "text" NOT NULL,
    "entity_type" "text",
    "entity_id" "text",
    "details_json" "text"
);


--
-- Name: audit_events_event_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."audit_events_event_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: audit_events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."audit_events_event_id_seq" OWNED BY "public"."audit_events"."event_id";


--
-- Name: batch_file_uploads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."batch_file_uploads" (
    "upload_id" "text" NOT NULL,
    "schedule_id" "text",
    "job_id" "text",
    "user_id" "text",
    "user_name" "text",
    "file_name" "text" NOT NULL,
    "s3_bucket" "text",
    "s3_key" "text",
    "s3_uri" "text",
    "file_hash" "text",
    "record_count" integer DEFAULT 0 NOT NULL,
    "created_at" "text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "queries_s3_bucket" "text",
    "queries_s3_key" "text",
    "queries_s3_uri" "text"
);


--
-- Name: business_units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."business_units" (
    "business_unit_code" "text" NOT NULL,
    "business_unit_name" "text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" "text" NOT NULL,
    "updated_at" "text" NOT NULL
);


--
-- Name: daily_schedules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."daily_schedules" (
    "schedule_id" "text" NOT NULL,
    "batch_name" "text" NOT NULL,
    "user_id" "text",
    "user_name" "text",
    "queries_json" "text" NOT NULL,
    "screening_types_json" "text" NOT NULL,
    "mock_screening" boolean DEFAULT false NOT NULL,
    "timezone" "text" NOT NULL,
    "run_hour" integer NOT NULL,
    "run_minute" integer NOT NULL,
    "created_at" "text" NOT NULL,
    "last_run_at" "text",
    "next_run_at" "text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "schedule_frequency" "text" DEFAULT 'DAILY'::"text" NOT NULL,
    "source_upload_id" "text",
    "source_file_name" "text",
    "source_s3_uri" "text",
    "business_unit_code" "text"
);


--
-- Name: external_api_errors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."external_api_errors" (
    "error_id" bigint NOT NULL,
    "created_at" "text" NOT NULL,
    "provider" "text" NOT NULL,
    "operation" "text",
    "endpoint" "text",
    "status_code" integer,
    "user_id" "text",
    "user_name" "text",
    "job_id" "text",
    "item_key" "text",
    "error_text" "text" NOT NULL,
    "details_json" "text"
);


--
-- Name: external_api_errors_error_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."external_api_errors_error_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: external_api_errors_error_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."external_api_errors_error_id_seq" OWNED BY "public"."external_api_errors"."error_id";


--
-- Name: job_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."job_items" (
    "job_id" "text" NOT NULL,
    "item_key" "text" NOT NULL,
    "request_json" "text" NOT NULL,
    "response_json" "text",
    "status" "text" NOT NULL,
    "error_text" "text",
    "updated_at" "text" NOT NULL
);


--
-- Name: job_metadata; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."job_metadata" (
    "job_id" "text" NOT NULL,
    "mode" "text" DEFAULT 'BATCH'::"text" NOT NULL,
    "screening_types_json" "text" DEFAULT '[]'::"text" NOT NULL,
    "mock_screening" boolean DEFAULT false NOT NULL,
    "batch_name" "text",
    "file_name" "text",
    "daily_screening" boolean DEFAULT false NOT NULL,
    "schedule_frequency" "text",
    "daily_schedule_id" "text",
    "query_count" integer DEFAULT 0 NOT NULL,
    "deferred_until" "text",
    "business_unit_code" "text"
);


--
-- Name: job_schedule_notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."job_schedule_notifications" (
    "job_id" "text" NOT NULL,
    "schedule_id" "text" NOT NULL,
    "created_at" "text" NOT NULL
);


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."jobs" (
    "job_id" "text" NOT NULL,
    "status" "text" NOT NULL,
    "created_at" "text" NOT NULL,
    "updated_at" "text" NOT NULL,
    "total_items" integer NOT NULL,
    "source_schedule_id" "text",
    "source_upload_id" "text",
    "user_id" "text",
    "user_name" "text"
);


--
-- Name: schedule_notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."schedule_notifications" (
    "notification_id" bigint NOT NULL,
    "created_at" "text" NOT NULL,
    "user_id" "text",
    "user_name" "text",
    "email" "text",
    "schedule_id" "text",
    "job_id" "text",
    "title" "text" NOT NULL,
    "message" "text" NOT NULL,
    "summary_json" "text"
);


--
-- Name: schedule_notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."schedule_notifications_notification_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: schedule_notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."schedule_notifications_notification_id_seq" OWNED BY "public"."schedule_notifications"."notification_id";


--
-- Name: schedule_record_state; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."schedule_record_state" (
    "schedule_id" "text" NOT NULL,
    "record_hash" "text" NOT NULL,
    "first_seen_at" "text" NOT NULL,
    "last_screened_at" "text" NOT NULL,
    "last_job_id" "text"
);


--
-- Name: schedule_subscriptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."schedule_subscriptions" (
    "subscription_id" "text" NOT NULL,
    "schedule_id" "text" NOT NULL,
    "user_id" "text",
    "user_name" "text",
    "email" "text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" "text" NOT NULL,
    "updated_at" "text" NOT NULL
);


--
-- Name: user_business_units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."user_business_units" (
    "user_id" "text" NOT NULL,
    "user_name" "text",
    "business_unit_code" "text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" "text" NOT NULL,
    "updated_at" "text" NOT NULL
);


--
-- Name: api_access_logs access_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."api_access_logs" ALTER COLUMN "access_id" SET DEFAULT "nextval"('"public"."api_access_logs_access_id_seq"'::"regclass");


--
-- Name: audit_events event_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."audit_events" ALTER COLUMN "event_id" SET DEFAULT "nextval"('"public"."audit_events_event_id_seq"'::"regclass");


--
-- Name: external_api_errors error_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."external_api_errors" ALTER COLUMN "error_id" SET DEFAULT "nextval"('"public"."external_api_errors_error_id_seq"'::"regclass");


--
-- Name: schedule_notifications notification_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."schedule_notifications" ALTER COLUMN "notification_id" SET DEFAULT "nextval"('"public"."schedule_notifications_notification_id_seq"'::"regclass");


--
-- Name: api_access_logs api_access_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."api_access_logs"
    ADD CONSTRAINT "api_access_logs_pkey" PRIMARY KEY ("access_id");


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."audit_events"
    ADD CONSTRAINT "audit_events_pkey" PRIMARY KEY ("event_id");


--
-- Name: batch_file_uploads batch_file_uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."batch_file_uploads"
    ADD CONSTRAINT "batch_file_uploads_pkey" PRIMARY KEY ("upload_id");


--
-- Name: business_units business_units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."business_units"
    ADD CONSTRAINT "business_units_pkey" PRIMARY KEY ("business_unit_code");


--
-- Name: daily_schedules daily_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."daily_schedules"
    ADD CONSTRAINT "daily_schedules_pkey" PRIMARY KEY ("schedule_id");


--
-- Name: external_api_errors external_api_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."external_api_errors"
    ADD CONSTRAINT "external_api_errors_pkey" PRIMARY KEY ("error_id");


--
-- Name: job_items job_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."job_items"
    ADD CONSTRAINT "job_items_pkey" PRIMARY KEY ("job_id", "item_key");


--
-- Name: job_metadata job_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."job_metadata"
    ADD CONSTRAINT "job_metadata_pkey" PRIMARY KEY ("job_id");


--
-- Name: job_schedule_notifications job_schedule_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."job_schedule_notifications"
    ADD CONSTRAINT "job_schedule_notifications_pkey" PRIMARY KEY ("job_id");


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."jobs"
    ADD CONSTRAINT "jobs_pkey" PRIMARY KEY ("job_id");


--
-- Name: schedule_notifications schedule_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."schedule_notifications"
    ADD CONSTRAINT "schedule_notifications_pkey" PRIMARY KEY ("notification_id");


--
-- Name: schedule_record_state schedule_record_state_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."schedule_record_state"
    ADD CONSTRAINT "schedule_record_state_pkey" PRIMARY KEY ("schedule_id", "record_hash");


--
-- Name: schedule_subscriptions schedule_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."schedule_subscriptions"
    ADD CONSTRAINT "schedule_subscriptions_pkey" PRIMARY KEY ("subscription_id");


--
-- Name: user_business_units user_business_units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."user_business_units"
    ADD CONSTRAINT "user_business_units_pkey" PRIMARY KEY ("user_id", "business_unit_code");


--
-- Name: idx_api_access_logs_correlation; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_api_access_logs_correlation" ON "public"."api_access_logs" USING "btree" ("correlation_id", "created_at");


--
-- Name: idx_api_access_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_api_access_logs_created_at" ON "public"."api_access_logs" USING "btree" ("created_at");


--
-- Name: idx_api_access_logs_path; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_api_access_logs_path" ON "public"."api_access_logs" USING "btree" ("request_path", "created_at");


--
-- Name: idx_api_access_logs_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_api_access_logs_user" ON "public"."api_access_logs" USING "btree" ("user_id", "created_at");


--
-- Name: idx_daily_schedules_next_run; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_daily_schedules_next_run" ON "public"."daily_schedules" USING "btree" ("next_run_at");


--
-- Name: idx_external_api_errors_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_external_api_errors_created_at" ON "public"."external_api_errors" USING "btree" ("created_at");


--
-- Name: idx_external_api_errors_job_item; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_external_api_errors_job_item" ON "public"."external_api_errors" USING "btree" ("job_id", "item_key", "created_at");


--
-- Name: idx_notifications_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_notifications_email" ON "public"."schedule_notifications" USING "btree" ("email", "created_at");


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_notifications_user" ON "public"."schedule_notifications" USING "btree" ("user_id", "created_at");


--
-- Name: idx_schedule_subscriptions_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "idx_schedule_subscriptions_unique" ON "public"."schedule_subscriptions" USING "btree" ("schedule_id", "email");


--
-- Name: idx_user_business_units_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_user_business_units_code" ON "public"."user_business_units" USING "btree" ("business_unit_code", "is_active");


--
-- Name: idx_user_business_units_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "idx_user_business_units_user" ON "public"."user_business_units" USING "btree" ("user_id", "is_active");


--
-- Name: job_items job_items_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."job_items"
    ADD CONSTRAINT "job_items_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."jobs"("job_id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TYMRJ4y6j4d4zb9H4qf3havsgjbh7ecQm2mlPWRGOeoP0Mzrpw5dqt72vRaxVSX

